version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: cafe_chaska_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password

  redis:
    image: redis:alpine
    container_name: cafe_chaska_redis
    ports:
      - "6379:6379"

volumes:
  mongodb_data:
