services:
  - type: web
    name: cafe-chaska-api
    env: node
    plan: free
    buildCommand: cd apps/api && npm install
    startCommand: cd apps/api && node server.js
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
